*,::after,*::before{
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}


header {
  width: 100%;
  height: 98px;
  background-color: white;;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 3px 10px gray;
  position: fixed;
  top: 0;
  z-index: 100;  
}

header .header-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
} 

header .header-container .left { 
  width: 906px;
  height: 96px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  gap: 30px;
  margin-left: 100px;
}

header .header-container .left .search-bar {
  width: 720px;
  height: 48px;
}

header .header-container .left .search-bar input {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background: #dbdde8 0 0 no-repeat padding-box;
}

header .header-container .right {
  width: 400px;
  height: 96px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  gap: 30px;
}

header .header-container .right .right-icons {
  display: inline-flex;
  gap: 0px 30px;
}

header .header-container .right .button button{
  background-color: #ffbe00;
  padding: 10px 25px;
  border: none;
  outline: none;
  font-size: 15px;
  font-weight: bolder;
}


/*Hero section design*/

.hero {
  margin-top: 100px;
  width: 100%;
  height: calc(100% - 100px);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero .slider {
  display: flex;
  aspect-ratio: 16/9;
  overflow-x: auto;
  scrollbar-width: none;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.hero img {
  width: 100%;
  height: 100%;
  flex: 1 0 100%; /* flex-grow flex-shrink flex-basis */
  scroll-snap-align: start;
}

.hero .dot-container {
  width: 100%;
  height: 26px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
