*,::after,*::before{
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.hero {
  width: 70%;
  height: 70%;
  background-color: teal;
  display: inline-flex;
  gap:10px;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  align-content: flex-start;
  padding: 20px;
  box-shadow: 5px 5px 30px grey;
}

.card {
  width: 200px;
  height: 200px;
}

.hero > .card-1 {
  background-color: black;
}

.hero > .card-2 {
  background-color: lightblue;
}

.hero > .card-3 {
  background-color: mediumblue;
}

.hero > .card-4 {
  background-color: magenta;
}

.hero > .card-5 {
  background-color: hotpink;
}

.hero > .card-6 {
  background-color: lightgreen;
}


.hero > .card-7 {
  background-color: mediumpurple;
}

.hero > .card-8 {
  background-color: yellow;
}
/* assignment : Zerodha valorant */

@media screen and (max-width: 800px) {
  .hero {
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
  }

  .card {
    width: 200px;
    height: 200px;
  }
}

/* .inline-flex > .card-8 {
  background-color: yellow;
}

.inline-flex {
  display: inline-flex;
  height: 200px;
  width: 200px;
} */