*, *::after, *::before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  align-content: center;
}

.container {
  position: relative;
  margin: auto;
  width: 600px;
  height: 450px;
  border: 2px solid black;
  background-image: url('https://www.hindustantimes.com/ht-img/img/2023/05/18/1600x900/gauri_khan_srk_1684400142258_1684400161766.jpg');
  background-size: 100% 100%;
  /* background-repeat: no-repeat;
  background-position: top 50px left 75px; */
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
  transition: 0.5s ease;
  background-color: rgb(0, 0, 0, 0.5);
}

.container:hover .overlay{
  opacity: 1;
}