*,::after,*::before{
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
.content-box {
    height: 400px;
    width: 600px;
    border: 2px solid black;
    padding: 100px;
    box-sizing: content-box;
}

.border-box {
    height: 400px;
    width: 600px;
    border: 2px solid black;
    padding: 100px;
    box-sizing: border-box;
}
